<?php
declare(strict_types=1);

{{>licenseInfo}}
use Codeception\Util\HttpCode;

{{#operations}}class {{classname}}
{
    {{#operation}}
    /**
     * Operation {{{operationId}}}
     *
     * {{{summary}}}
     *
     * @param AcceptanceTester $I
     * @throws \Exception
     */
    public function {{operationId}}(AcceptanceTester $I)
    {
        {{#if pathParams}}{{#pathParams}}${{paramName}} = ''; //{{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
        {{/pathParams}}
        $path = str_replace([{{#pathParams}}'\\{' . '{{baseName}}' . '\\}'{{#has this 'more'}}, {{/has}}{{/pathParams}}], [{{#pathParams}}${{paramName}}{{#has this 'more'}}, {{/has}}{{/pathParams}}], '{{path}}');{{else}}$path = '{{path}}';{{/if}}

        $I->send{{httpMethod}}($path);
        $I->seeResponseCodeIs({{#responses}}{{^isWildcard}}{{#dataType}}{{code}}{{/dataType}}{{/isWildcard}}{{/responses}});
        {{#produces}}{{#ifEquals mediaType 'application/json'}}$I->seeResponseIsJson();{{else}}$I->seeResponseIsXml();{{/ifEquals}}{{/produces}}{{^produces}}{{/produces}}
    }
    {{/operation}}
}
{{/operations}}
