<?php
declare(strict_types=1);

{{>licenseInfo}}
use Codeception\Util\HttpCode;

{{#operations}}class {{classname}}
{
    {{#operation}}
    /**
     * Operation {{{operationId}}}
     *
     * {{{summary}}}.
     *
  {{#pathParams}}   * @param {{dataType}} ${{paramName}} {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
  {{/pathParams}}   * @param AcceptanceTester $I
     * @throws \Exception
     */
    public function {{operationId}}({{#pathParams}}${{paramName}}{{#hasMore}}, {{/hasMore}}{{/pathParams}}AcceptanceTester $I)
    {
        $I->send{{httpMethod}}('{{path}}');

    }
    {{/operation}}
}
{{/operations}}
